<% if user_signed_in? %>

<h1> Wassap Bitch! </h1>

<% else %>

<div class="jumbotron">
<h1>Hi My Name is Artem!</h1>
<p>
	I wanna play a game! Find me at 

	
	<%= link_to "Facebook","http://facebook.com/artem.boiko"%>
	page.
</p>
<p>
	<%= link_to "Sign Up Now!",new_user_registration_path, class:"btn btn-primary btn btn-default btn-lg"%>
	
</p>

</div>
<%end%>