<div class="footer">
	<small>
	 	I wanna play a game! Find me at 
	<%= link_to "Facebook","http://facebook.com/artem.boiko"%>
	 	by <%= link_to "Awesome Me","http://artboiko.tumblr.com"%> 
	</small>	
 	</div>